extends ./layout

block content
  .dashboard-header
    h1 Talento Evolutivo S.A.
    p Panel de Control Principal - Seleccioná un módulo para operar

  .grid-container
    each module in modules
      .module-card
        h2= module.nombre
        p= module.desc
        a.btn-ingresar(href=module.ruta) Ingresar